:root {
  --btn-color: #fff;
  --btn-color-bg: #1c1b1b;
  --primary-text-color: #999;
  --secondary-text-color: #1b1a1a;
  --background-color: #fff;
  --time: 250ms;
  --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
}
