:root {
    // --accent-color: #ff6b01;
    // --current-color: #ff001b;
    --primary-text-color: #999;
    --secondary-text-color: #1B1A1A;
    --background-color: #FFF;
    --time: 250ms;
    --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
  }