<div class="footerCopyright">
  <div class="container">
    <p class="footerCopyright-text">
      Copyright 2022 - Designed & Developed by Frenify
    </p>
    <ul class="footerCopyright-icon-list list">
      <li class="footerCopyright-icon-item">
        <svg class="footerCopyright-icon">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </li>
      <li class="footerCopyright-icon-item">
        <svg class="footerCopyright-icon">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </li>
      <li class="footerCopyright-icon-item">
        <svg class="footerCopyright-icon">
          <use href="./images/sprite.svg#icon-twitter"></use>
        </svg>
      </li>
      <li class="footerCopyright-icon-item">
        <svg class="footerCopyright-icon">
          <use href="./images/sprite.svg#icon-linkedin"></use>
        </svg>
      </li>
    </ul>
  </div>
</div>
