<div class="footer">
  <div class="container">
    <div class="logo-container">
      <svg class="logo-icon">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <p class="logo-text">interior</p>
    </div>
    <h2 class="footer-join">Join Now For Early Access</h2>
    <p class="footer-join-desc">
      Suspendisse eu velit est. Cras nec vestibulum quam. Donec tincidunt purus
      nec enim tincidunt, sit
    </p>
    <form class="footer-form" name="email_form" autocomplete="on">
      <input
        class="footer-form-input"
        type="email"
        name="email"
        placeholder="Enter your email address..."
      />
      <button class="form-btn">SUBSCRIBE</button>
    </form>
  </div>
</div>
